@import "tailwindcss";

@theme {
    --color-bg_shade_1: rgb(255 255 255);
	--color-bg_shade_2: rgb(247 247 247);
	--color-bg_shade_3: rgb(216 216 216);
  
	--color-text_shade_1: rgb(143 143 143);
	--color-text_shade_2: rgb(92 92 92);
    --color-text_shade_3: rgb(14 14 14);
}